.appointment
{
  background: url('./assets/images/appointment.png');
  background-size: cover;
}

.contact
{
  background: url('./assets/images/appointment.png');
  background-size: cover;
}

.footer-section
{
  background: url("./assets/images/footer.png");
  background-size: cover;
}

